
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    background: linear-gradient(270deg, #7579ca, #e1e4f9, #bfc6ff);
    background-size: 400% 400%;
    animation: gradient 16s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* navigation bar */
nav {
    background-color:  #252b98; /* UMD purple theme */
    padding: 1rem 0;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd23f;
}

/* hero section */
.headshot {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.headshot img {
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    width: auto;
    height: 400px;
}

.name {
    text-align: center;
    margin: 1rem 0 3rem 0;
}

.name h1 {
    font-size: 2.5rem;
    color: #252b98;
}

.name h3 {
    color: #666;
}

/* section headers */
h2 {
    color: #252b98;
    text-align: center;
    margin: 2rem 0 1rem;
    font-size: 2rem;
}

/* hobbies */
#hobbies {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.hobby {
    background: #f2f0f5;
    border-radius: 10px;
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
}

.hobby:hover {
    transform: scale(1.05);
}

/* experiences */
#experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: auto;
    margin: auto;
}

.experience {
    width: 80%;         
    max-width: 1000px; 
    background: #faf9ff;
    border-left: 6px solid  #252b98;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.3s;
}

.experience:hover {
    transform: translateY(-5px);
}

.experience h3 {
    color:  #252b98;
    margin-bottom: 0.5rem;
}

.expBulletPoints {
    text-indent: 30px;
    margin-top: 10px;
}

footer {
    background-color: #252b98;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

